@use "variables" as *; 

body {
  overflow-x: hidden;
}

.header {
  z-index: 1;
  height: 100px;
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 1rem;
  

  color: $header-color;
  background-color: $header-background;
}

.logo {
  margin: 0;
  height: 100%;
  opacity: -0,9;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
    &-img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: center;
      border-radius: 10px;
    }
}

.nav {
  &-list {
    display: flex;

    margin: 1rem;

    list-style: none;

    gap: 1rem;
  }

  &-item {
    padding: 0.5rem;
  }

  &-link {
    text-decoration: none;

    color: $header-color;
  }

  &-link:hover {
    color: $header-color;
    background-color: $header-background;
  }
}
