@use "variables" as *; 

body {
  overflow-x: hidden;
}

.background {
  background-image: url("../images/back-img.jpg");
  background-size: cover;
  // background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  // position: relative;
  z-index: 0;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: scale(1.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header {
  z-index: 1;
  height: 100px;
  display: flex;
  // justify-content: space-between;

  width: 100%;
  padding: 1rem;
  

  color: $header-color;
  // background-color: $header-background;
}

.logo {
  margin: 0;
  height: 100%;
  opacity: -0,9;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
    &-img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: center;
      border-radius: 10px;
    }
}

.nav {
  &-list {
    display: flex;

    margin: 1rem;

    list-style: none;

    gap: 1rem;
  }

  &-item {
    padding: 0.5rem;
  }

  &-link {
    text-decoration: none;

    color: $header-color;
  }

  &-link:hover {
    color: $header-background;
    background-color: $header-color;
  }
}
