body {
  overflow-x: hidden;
}

.background {
  background-image: url("../images/back-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  z-index: 0;
  opacity: 0;
  -webkit-animation: fadeIn 2s ease-in-out forwards;
          animation: fadeIn 2s ease-in-out forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.header {
  z-index: 1;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1rem;
  color: white;
}

.logo {
  margin: 0;
  height: 100%;
  opacity: 0, 9;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.logo-img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  list-style: none;
  gap: 1rem;
}
.nav-item {
  padding: 0.5rem;
}
.nav-link {
  text-decoration: none;
  color: white;
}
.nav-link:hover {
  color: rgb(155, 1, 179);
  background-color: white;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  padding: 1rem;
  color: rgb(30, 11, 200);
}

.title {
  margin: 0 auto;
  font-family: "Prociono", serif;
  font-size: 5rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem auto;
  gap: 1rem;
}
.form-input {
  width: 500px;
  padding: 0.5rem;
  border: 1px solid rgb(30, 11, 200);
  border-radius: 5px;
}
.form-button {
  width: 100px;
  padding: 0.5rem;
  color: white;
  border: 1px solid rgb(30, 11, 200);
  border-radius: 5px;
  background-color: rgb(30, 11, 200);
}